body{
	color: #33c;
	font-size: 1rem;
	line-height: 1.3em;
	margin: 0;
	background-image: url("../img/azul.jfif");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}


.slider{
	width: 40%;
	margin: auto;
	overflow: hidden;
}
.slider ul{
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 15s infinite alternate linear;

}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	width: 100%;
	height: 80%;
}

@keyframes cambio{
	0% { margin-left: 0; }
	20% { margin-left: 0; }


	25% { margin-left: -100%; }
	45% { margin-left: -100%; }



	50% { margin-left: -200%; }
	70% { margin-left: -200%; }


	75% { margin-left: -300%; }
	100% { margin-left: -300%; }


}

h1{
	line-height: 1.3em;
	font-size: 2rem;
}

h3 {
	line-height: 1em;
	font-size: 1.2em;
}
h2{
	line-height: 1em;
	font-size: 1rem;
	color: green;
}


p{
	margin-bottom: 1.6em;
}

i {
	color: red;
	margin: 2%;
}

.justo {
	text-align: justify;
}

.lista {
	text-align: center;
}

.ancho {
	width: 50%;
	height: 50%;
}
.imagen {
	width: 100%;
	height: 100%;
}

.universidad {
	background: cyan;
	border-top-left-radius: 25%;
	border-bottom-right-radius: 25%;
}

.medios {
	margin: 5%;
	background: green;
}

.contacto {
	margin: 2%;
	background: cyan;
	font-size: 30px;
}

.contacto a{
	text-decoration: none;
}

.facebook {
	margin: 2%;
	background: cyan;
	font-size: 30px;
}

.facebook a {
	text-decoration: none;
}

.correo {
	margin: 2%;
	background: cyan;
	font-size: 30px;
}

.correo a {
	text-decoration: none;
}

.telegram {
	margin:2%;
	background: cyan;
	font-size: 30px;
}

.telegram a {
	text-decoration: none;
}

.contenedor{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}
.container{
	text-align: center;
	width: 50%;
	margin: auto;
	background: white;
	border-radius: 5px;
	border: 1px #111111;
	padding: 1em;
	box-shadow: 0 0 20px black;
	display: grid;
	align-items: center; 

}

.dos {
	background: green;
}
.color a{
	text-decoration: none;
	color: cyan;
}


.navigation ul li a:hover{
	background: green;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo{
	letter-spacing: 10px;
	font-size: 1.2em;
}
.header{
	background: green;
	color: white;
	padding: 1rem 0;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

.header a{
	color: cyan;
	text-decoration: none;
	font-size: 18px;
}


.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation-dos ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


.navigation ul li{
	display: inline-block;
}


.navigation-dos ul li{
	display: inline-block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 0.5rem;
	transition: all 0.4s linear;
	border-radius: 45px;
}


.navigation-dos ul li a{
	display: block;
	padding: 0.5rem 1.5rem;
	transition: all 0.4s linear;
	border-radius: 25px; 
}


.navigation ul li a:hover{
	background: #4cc;
}


.navigation-dos ul li a:hover{
	background: #122bbb;
}

.main{
	padding-top: 6rem;
}

.footer{
	background: darkcyan;
	padding: 0.5rem 0;
	text-align: center;
	margin-top: 0.5rem; 
}

.footer hr{
	width: 50%;
	margin-bottom: 0.5em;
	height: 2px;
	background: green;
	border-radius: 2px;
}
.menu-icon{
	display: none;
}

@media only screen and (max-width: 960px ){

.menu-icon{
	display: block;
	cursor: pointer;
	padding: 0.5rem 1rem
}

.navigation ul{
	display: none;
}

.navigation ul .show{
	display: block;
}
.navigation{
	width: 100%;
	margin-top: 1rem; 
}

.navigation ul li{
	display: block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 0;
	transition: all 0.4s linear;
	border-radius: 45px;
}


.navigation ul li a:hover{
	background: #4a4abb;
}
}